<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="sqlgpt" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Python11\python.exe|E:\Python11\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    <httpRuntime executionTimeout="900" /> 
    </system.webServer>
<appSettings>
<add key="WSGI_HANDLER" value="app.app" />
<add key="PYTHONPATH" value="C:\inetpub\wwwroot\SQL-GPT-master" />
</appSettings>
</configuration>
