<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="E:\Python11\python.exe|E:\Python11\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>

        <!-- Enable detailed errors in browser -->
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true" />
    </system.webServer>

    <appSettings>
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\SQL-GPT-master" />
        <add key="WSGI_LOG" value="C:\inetpub\wwwroot\SQL-GPT-master\wfastcgi.log" />
    </appSettings>
</configuration>
